@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h1>Разписание за деня</h1>
<section class="header">
    <nav>
    </nav>
    <div class="text-box">
        <img src="~/img/Razpisanie.PNG" />
    </div>
</section>

